.center{
    width: 100%; 
    height: 92vh; 
    display: flex; 
    justify-content: center; 
    align-items: center
  }
  
  .container{
    display: inline-block;
    width:551px; 
    border:2px solid #6E93B3; 
    padding:30px 79px 19px;
    
  }
  
  
  .label{padding:5px 5px; 
    display: inline-block; 
    width: 47.5%; 
    border: 2px solid #5eb558; 
    background: #5eb558; 
    color: white; 
    font-size: 18px;
    text-align: center;
  }
  .red::after{
    content: " *";
    color: red;
  }
  
  .input{
    width:100%; 
    display: inline-block; 
    margin-left: 5%; 
    border: 2px solid #92ADC6; 
    height: 100%; 
    padding: 0 10px; 
    font-size: 18px;
  }

  .result{
    width:100%; 
    display: inline-block; 
    margin-left: 5%; 
    height: 100%; 
    padding: 0 10px; 
    font-size: 18px;
  }

  .gender{
    width:100%; 
    margin-left: 5%; 
    border: 2px solid white ;
    height: 100%; 
    padding: 0 10px; 
    font-size: 18px;
    align-items: center;
    display: flex;
  }

  .arrow-down::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 32px solid #477AA9;
}

.arrow-down::before {
    content: "";
    position: absolute;
    z-index: 2;
    right: 2px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 29px solid #5B9BD5;
}

  .check{
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  input[type="radio"]{
    width: 15px;
    height: 15px;
    border: 2px solid #92ADC6;
    border-radius: 50%;
    outline: none;
    margin-right: 10px;
  }

  input[type="radio"]:checked{
    background-color: #5eb558;
  }
  
  .border_box{
    margin-top: 20px; 
    display: flex; 
    height: 40px
  }

  
  
  .login-btn{
    text-align: center; 
    margin: 40px
  }
  
  .button_submit{
    background: #6ACE63; 
    text-align: center;
    padding: 18px 40px; 
    border: 2px solid #6ace63; 
    border-radius: 10px;
    color: white; font-size: 18px; 
    cursor: pointer
  }
  
  .button_submit:hover{
    background: #5eb558;
  }

  .btn-add{
    font-size:15px; 
    background:#6d88ed;
    border:none; 
    width:120px; 
  }

  .btn-add:hover{
    background:#5b9bd5;
  }

  .btn-search{
    background:#6d88ed;
    border:none
  }

  .btn-search:hover{
    background:#5b9bd5;
  }

  .err{
    color: red;
  }
  
  .table-tsv{
    width: 80%;
    padding: auto;
    display: inline-block;
  }

  .delNupdate{
    background-color: #5B9BD5;
    border: none;
  }

  .delNupdate:hover{
    background-color: #477AA9;
  }

  .notion{
    display: flex;
    justify-content: left;;    
  }

  table {
    width: 100%;
    counter-reset: row-num;
  }

  table tr td {
    text-align: center;
  }

  